<h2>Contact Us</h2>
<p>
Gang Peng, Ph.D. <br>
Assistant Professor <br>
Department of Medical and Molecular Genetics, Indiana University School of Medicine (IUSM) <br>

<br>
email: gangpeng@iu.edu<br>
<br>
MS 502<br>
MMGE<br>
IN<br>
Indianapolis, IN <br>
</p>

<p>
 <h3> Interested in joining the Gang Peng lab? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>



<h3> Recent News </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
