<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon_penglab.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#052049">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap.min.css">

    <!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="{{ site.baseurl }}/static/css/syntax.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/static/css/custom.css" rel="stylesheet">
  </head>

  <body>


    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a6fa5; padding-top: 0.8rem; padding-bottom: 0.8rem;">
      <!-- Site brand -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>

      <!-- External logo -->
      <a href="https://medicine.iu.edu" target="_blank" rel="noopener">
          <img class="inline-block navb-icon" src="{{ site.baseurl }}/static/img/logo/Indiana_Hoosiers_logo.svg.png" alt="Indiana University School of Medicine">
      </a>

      <!-- Navbar toggler for small screens -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
              {% for link in site.data.navigation %}
                  {% assign full_link = site.baseurl | append: link.link %}
                  {% if page.group == link.group %}
                      <li class="nav-item active">
                          <a class="nav-link" href="{{ full_link }}" alt="{{ link.name }}">
                              {{ link.name }} <span class="sr-only">(current)</span>
                          </a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{{ full_link }}" alt="{{ link.name }}">
                              {{ link.name }}
                          </a>
                      </li>
                  {% endif %}
              {% endfor %}
          </ul>
      </div><!--/.nav-collapse -->
    </nav>


