---
title: Gang Peng Lab Members
layout: members
group: members
---

<h1>Peng Lab Members</h1>

<p>
The Peng lab welcomes people of any race, ethnicity, religion, national origin,
gender identity, gender expression, caregiver and family commitments,
political affiliation, sexual orientation, and eligible age or disability status.
</p>

{% for member in site.members %}

{% unless member.enddate == empty or member.startdate.size != member.enddate.size %}
  {% continue %}
{% endunless %}

{% if member.position contains "Affiliate" or member.position contains "Visiting" %}
  {% continue %}
{% endif %}

<hr>

<div id="{{ member.name }}" class="row" style="padding-top: 60px; margin-top: -60px;">
  <div class="col-sm-4">
    <img class="img-fluid"
         src="{{ member.image | relative_url }}"
         {% if member.altimage %}
         onmouseover="this.src='{{ member.altimage | relative_url }}';"
         onmouseout="this.src='{{ member.image | relative_url }}';"
         {% endif %}
         alt="{{ member.name }}"
         width="365"
         height="365"><br>

    <strong>{{ member.name }}</strong><br>

    {% if member.pronouns %}
      <em>{{ member.pronouns }}</em><br>
    {% endif %}

    {{ member.position | markdownify | remove: '<p>' | remove: '</p>' }}<br>
    <em>{{ member.email }}</em><br>

    {% if member.website %}
      <a style="overflow-wrap: break-word;" href="{{ member.website }}">{{ member.website }}</a><br>
    {% endif %}

    {% if member.orcid %}
      <a href="https://orcid.org/{{ member.orcid }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/orcid_logo.svg' | relative_url }}">
      </a>
      {{ member.orcid }}<br>
    {% endif %}

    {% if member.linkedin %}
      <a href="https://www.linkedin.com/in/{{ member.linkedin }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/linkedin_logo.svg' | relative_url }}">
      </a>
      {{ member.linkedin }}<br>
    {% endif %}

    {% if member.scholar %}
      <a href="https://scholar.google.com/citations?user={{ member.scholar }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/gscholar_logo.svg' | relative_url }}">
      </a>
      {% if member.timeline_name %}
        {{ member.timeline_name }}
      {% else %}
        {{ member.name | split: " " | first }}
      {% endif %}'s Citations<br>
    {% endif %}

    {% if member.nih %}
      <a href="https://www.ncbi.nlm.nih.gov/myncbi/{{ member.nih }}/bibliography/public/">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/nih_logo.svg' | relative_url }}">
      </a>
      Publications<br>
    {% endif %}

    {% if member.twitter %}
      <a href="https://twitter.com/{{ member.twitter }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/twitter_logo.svg' | relative_url }}">
      </a>
      @{{ member.twitter }}<br>
    {% endif %}

    {% if member.bsky %}
      <a href="https://bsky.app/profile/{{ member.bsky }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/bsky_logo.svg' | relative_url }}">
      </a>
      {{ member.bsky }}<br>
    {% endif %}

    {% if member.github %}
      <a href="https://github.com/{{ member.github }}">
        <img class="inline-block mem-icon" src="{{ '/static/img/logo/github_logo.svg' | relative_url }}">
      </a>
      {{ member.github }}<br>
    {% endif %}
  </div>

  <div class="col-sm-8">
    {{ member.description | markdownify }}
  </div>
</div>

{% endfor %}

<hr>

